/* texto comentado*/

html,body{
  height:100%;
  width:100%;
  font-size: 100%;
}

body{
  background:#333;
  /*background:rgba(0,0,0,0.7);*/
  padding:2%;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size:1em;
  color:rgb(255,255,255);
}

h1{
  font-size: 3em;
}

div{
  width: 500px;
  max-width:80%;
  padding:1em;
  background:silver;
  border:1px solid #ccc;
  background:#fff;
}

img{
  max-width:100%;
  height:auto;
}
